@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 76%);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 66%);
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  // line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.main-container {
  max-width: 125rem;
  width: 90%;
  margin: 0 auto;
}

.disabled-link {
  pointer-events: none;
}

footer {
  // margin-top: auto;
}
